<div class="card bg-light mb-3" style="width: 18rem;">
  <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" class="card-img-top" *ngIf="movie.poster_path">
  <img src="assets/img/abstract-image.jpg" class="card-img-top" *ngIf="!movie.poster_path" >
  <div class="card-body">
    <h4 class="text-ellipsis">
      <a routerLink="/movies/{{movie.id}}" title="{{movie.title}}" class="text-dark">{{movie.title}}</a>
    </h4>
    <p style="color: grey;"><strong ></strong>Release Date:{{movie.release_date}}</p>
    <div *ngFor="let price of prices">
    <p style="color: rgb(250, 120, 34);">ราคา {{price.price}} ฿</p>
    <p>
      <small class="label label-success pull-right" *ngIf="movie.vote_average" style="background-color:rgb(255, 208, 0); color: white;">
        {{movie.vote_average}}
        <i class="fa fa-star" style="color:white;"></i>
      </small>
      <button *ngIf="movie.title" (click)="seletedMovies(movie.title,price.price)"><i class="fa fa-shopping-basket" ></i>หยิบใส่ตะกร้า</button> 
    </p>
    </div>
  </div>
</div>