<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="title">My Cart</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div style="margin:0px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let movie of movies">
      {{movie}}
      <span class="hover-cursor text-danger pull-right" (click)="onDelete()">
        <i class="fa fa-trash-o fa-lg"></i>
      </span>
    </li>
    </ul>
  </div>