<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="title">My Cart</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div calss="cart" style="margin:0px 0px">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let movie of movies">
      {{movie.title}}  
      <span class="pull-right">ราคา : {{movie.price}} ฿ </span>
    </li>
    </ul>
    <br>

    <div style="color: white;" *ngFor="let sum of summary">
    <ul class="list-group list-group-horizontal" style="color: black;">
     <li class="list-group-item">Total : {{sum.total}} ฿</li>
     <li class="list-group-item">Discount : {{sum.discount}} ฿</li>
     <li class="list-group-item" >Paid : {{sum.paid}} ฿ </li> 
    </ul>
  </div><br><br>
   <button routerLink="/cart" (click)="onDelete()">clear My Cart</button> 
   <button type="button" data-toggle="modal" data-target="#exampleModalCenter" (click)="countDown()">สั่งซื้อสินค้า</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ข้อมูลการชำระเงิน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body">
        <p><strong>ชื่อบัญชี : นางสาว มานี มีนา</strong></p>
        <br>
        <img src="https://www.img.in.th/images/b0b36a7b566a83df7a56269ca9ccb0a7.jpg" width="100" height="100"/>
        <strong >เลขที่่บัญชี : 111-234561-5</strong> <br><br>
        <img src="https://www.img.in.th/images/ce444da317592a7646957bdd02bcfd08.jpg" width="100" height="100" />
        <strong>เลขที่่บัญชี : 222-234561-6</strong>
      </div>
       
      <div class="modal-footer">
        <p>โปรดโอนเงินภายใน {{counter$ | async}} วินาที</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
