body {
    background: rgb(26, 26, 26);
    background-size: cover;
}

.title {
    color: #ec3636;
    font-family: cursive;
    font-size: 3em;
    text-align: center;
  }

.container{
    background-color: rgb(243, 167, 105);
    margin-top: 0px;
    height: 200px;
    
}